{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi" : [1, "always"],
    "no-irregular-whitespace": 0,
    "max-len": [2, 120, 2],
    "indent": 0,
    "quotes": [1, "single"]
  }
}
